
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    padding: 10px;
}
.containerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.foneHeader {
    margin-left: 20px;
}
.foneHeader a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.socialRede {
    margin-right: 20px;
}
.socialRede a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.socialRede a:hover {
    font-size: 18px;
}
.icon {
    color: #febf45;
}
main {
    background-image: url(assets/transportes.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}







.logoHomeImg {
    margin-left: 10%;
    margin-top: 40px;
    width: 150px;
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.containerMain {
    width: 80%;
    height: 50vh;
    margin-left: 10%;
    margin-top: 60px;
    opacity: 0;
    animation: fadeDown 0.6s ease forwards;
    animation-delay: 0.9s; /* delay pequeno */
}
.aberturaTxt {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: #febf45;
}
.titleMain {
    margin-top: 10px;
    color: white;
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.1em;
}
.fechamentoTxt {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 200;
}
.ButtonsHome {
    margin-top: 40px;
}
.ButtonsHome button{
    height: 40px;
    display: flexbox;
    justify-content: space-between;
    padding: 10px;
    border: solid white 1px;
    border-radius: 10px;
    background: transparent;
    color: white;
    margin-right: 20px;
    transition: transform 0.3s ease;
}
.ButtonsHome button i {
    width: 20px;
}
.ButtonsHome button:hover {
    transform: scale(0.9); /* diminui 10% */
}

.chechsdivi {
    display: flex;
    flex-direction: column;
}
.check {
    margin-top: 20px;
    color: white;
}
.checkIcon {
    color: #febf45;
}
.informativos {
    width: 80%;
    margin-top: -125px;
    margin-left: 10%;
    border-radius: 20px;
    
    background-color: #fec045b6;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    z-index: 1000;
}
.informativos img {
    align-items: start;
    width: 30px;
}
.informativos h3 {   
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: white;
}   
.informativos p {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}
@media(max-width: 700px){
    .header {
        display: none;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logoHomeImg {
        margin-left: 10%;
        margin-top: 70px;
        width: 150px;
    }
    .containerMain {
        width: 80%;
        margin-left: 0%;
    }
    .aberturaTxt {
        font-size: 15px;
        text-align: center;
    }
    .titleMain {
        text-align: center;
        margin-top: 10px;
        color: white;
        font-family: "Montserrat", Sans-serif;
        font-size: 22px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.1em;
    }
    .fechamentoTxt {
        text-align: center;
    }
    .ButtonsHome button {
        margin-bottom: 10px;
    }
    .informativos {
        width: 100%;
        margin-left: 0%;
    }
    .iconPlusInfo {
        width: 20%;
    }
    .informativos img {
    }
    .informativos h3 {   
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-size: 10px;
    }   
    .informativos p {
        font-family: "Roboto", sans-serif;
        font-size: 9px;
    }
}


.formulario {
    width: 100%;
    height: auto;    
    background-color: black;
}
.margin {
    width: 80%;
    margin-left: 10%;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}
.contentFormulario {
    padding-top: 110px;
    width: 50%;
}
.form {
    padding: 20px;
    width: 50%;
    align-items: center;
    text-align: center;
}
.form .logoHomeImg {
    margin: 0;
}
.campos {
    width: 45%;
    height: 30px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: none;
}
.campos:hover {
    box-shadow: 2px 2px 10px #febf45;
}
.txtarea {
    width: 90%;
    height: 60px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.sendForm {
    width: 40%;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: 700;
}
.sendForm:hover {
    box-shadow: 2px 2px 10px #febf45;
}

@media(max-width: 700px){
    .formulario {
    }
    .margin {
        width: 80%;
        margin-left: 10%;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .contentFormulario {
        padding-top: 110px;
        width: 100%;
    }
    .form {
        padding: 20px;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .form .logoHomeImg {
        margin: 0;
    }
    .campos {
        width: 45%;
        height: 30px;
        margin-bottom: 12px;
        border-radius: 5px;
        border: none;
    }
    .txtarea {
        width: 80%;
        height: 60px;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .sendForm {
        width: 40%;
        height: 40px;
        border-radius: 10px;
        border: none;
        font-size: 15px;
        font-weight: 700;
    }
}


@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.servicos {
    padding: 50px;
}
.sub {
    color: black;
    font-size: 20px;
}
.contanirServicos {
    width: 80%;
    margin-left: 10%;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cardServicos {
    padding: 20px;
    width: 30%;
    background-color: #000000;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
     /* animação */
    opacity: 0;
    animation: slideInLeft 2s ease forwards;
}
.cardServicos:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(212, 175, 55, 0.2); /* dourado suave */
}
.cardServicos img {
    width: 40px;
    margin-bottom: 10px;
}
.titleCard {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #febf45;
}
.descricaoCard {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 200;
}


@media(max-width: 700px){
    .servicos {
        padding: 10px;
    }
    .sub {
    }
    .contanirServicos {
        width: 100%;
        margin-left: 0%;
        padding-top: 30px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .cardServicos {
        padding: 20px;
        width: 48%;
        height: auto;
    }
    .cardServicos:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 25px rgba(223, 181, 42, 0.2); /* dourado suave */
    }
    .cardServicos img {
        width: 40px;
        margin-bottom: 10px;
    }
    .titleCard {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #febf45;
    }
    .descricaoCard {
        margin-top: 10px;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        color: #ffffff;
        font-weight: 200;
    }
}
.numberYes {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "Montserrat", Sans-serif;
    font-size: 25px;
    font-weight: 800;
}
.numbersSection {
    margin-top: -30px;
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.number {
    text-align: center;
    padding: 20px;
    width: 30%;
}
.pNumber {
    margin-top: 10px;
    color: white;
    font-family: "Montserrat", Sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.1em;
}
#n1{
 opacity: 0;
    animation: slideInLeft 2s ease forwards;
}
#n2 {
 opacity: 0;
    animation: slideInLeft 4s ease forwards;
}
#n3 { 
    opacity: 0;
    animation: slideInLeft 6s ease forwards;
}
.pNumber {
    background: linear-gradient(
        to bottom,
        #FFD700 0%,   /* dourado claro */
        #D4AF37 40%,  /* dourado clássico */
        #8C6B1F 70%,  /* dourado escuro */
        #000000 100%  /* preto */
    );
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
}
.titleNumber {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: black;
}

@media(max-width: 700px){
    .numbersSection {
        width: 80%;
        margin-left: 10%;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
    }
    .number {
        text-align: center;
        padding: 20px;
        width: 30%;
    }
    .pNumber {
        margin-top: 10px;
        color: white;
        font-family: "Montserrat", Sans-serif;
        font-size: 15px;
        font-weight: 800;
    }
    #n1{
    opacity: 0;
        animation: slideInLeft 2s ease forwards;
    }
    #n2 {
    opacity: 0;
        animation: slideInLeft 4s ease forwards;
    }
    #n3 { 
        opacity: 0;
        animation: slideInLeft 6s ease forwards;
    }
    .pNumber {
        background: linear-gradient(
            to bottom,
            #FFD700 0%,   /* dourado claro */
            #D4AF37 40%,  /* dourado clássico */
            #8C6B1F 70%,  /* dourado escuro */
            #000000 100%  /* preto */
        );
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        background-clip: text;
        color: transparent;
    }
    .titleNumber {
        font-family: "Roboto", sans-serif;
        font-size: 10px;
        color: black;
    }
}

.porQue {
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.divPorque{
    width: 50%;
    height: 100vh;
}
#divFoto {
    background-color: #8C6B1F;
    background-image: url(assets/metade.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#divConteudo{
    background-color: #030509;
    padding: 30px;
    text-align: center;
}
.TitlePorque{
    margin-top: 10px;
    color: white;
    font-family: "Montserrat", Sans-serif;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.1em;
}
.SubtituloPorque {
    color: white;
    margin-bottom: 10px;

}
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.iconPorque {
    opacity: 0;
    animation: slideUp 0.6s ease forwards;
    border-radius: 20px;
    background-color: #000000;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 2px 2px 2px rgba(255, 217, 0, 0.377);
}
.iconIcon {
    width: 20%;
}
.txtIcon {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pTitleIcon {
    margin-bottom: 10px;
    color:#febf45;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.1em;
}
.descricaoIconP {
    color: white;

}

@media(max-width: 700px){
    .porQue {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .divPorque{
        width: 50%;
        height: 100vh;
    }
    #divFoto {display: none;
    }
    #divConteudo{
        width: 100%;
        height: autosi;
        background-color: #030509;
        padding: 30px;
        text-align: center;
    }
    
}

.parceiros {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 80px 20px;
}

.parceiros h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.parceiros p {
    color: #aaa;
    margin-bottom: 50px;
}

/* CARROSSEL */
.carousel {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

.track {
    display: flex;
    gap: 40px;
    align-items: center;
    transition: transform 0.6s ease;
}

/* LOGOS */
.logo {
    width: 120px;
    opacity: 0.5;
    transform: scale(0.8);
    transition: all 0.4s ease;
}

/* LOGO CENTRAL */
.logo.active {
    width: 180px;
    opacity: 1;
    transform: scale(1.1);
}

.historia {
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: row;
}
#h {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenthistoria {
    width: 50%;    
    padding: 20px;
}
.carroselFunders {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cardFunder {
    width: 80%;
    background-color: rgb(3, 3, 3);
    border-radius: 20px;
    box-shadow: 2px 2px 2px ;
    padding: 20px;
}
.fotoperfil {
    width: 80%;
    margin-bottom: 10px;
    margin-left: 10%;
    border-radius: 20px;
}
#joao{
    display: none;
}
.buttonCard{
    width: 20%;
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}
.buttonCard:hover {
    font-size: 40px;
    color: #FFD700;
}
.historiaAbertura{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}
.nomeFunder, .cargo  {
   font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #febf45; 
}
.funderDescricao {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin-top: 10px;
    color: #ffffff;
}
.tituloHistoria {
    color: #febf45;
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.1em;

}
@media(max-width: 700px) {
    .historia {
        height: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
    }
    #h {
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contenthistoria {
        width: 100%;    
        padding: 20px;
    }
    .carroselFunders {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .cardFunder {
        width: 100%;
        padding: 20px;
    }
    .fotoperfil {
        width: 80%;
        margin-bottom: 10px;
        margin-left: 10%;
        border-radius: 20px;
    }
    #joao{
        display: none;
    }
    .buttonCard{
        width: 10%;
        background-color: transparent;
        border: none;
        font-size: 30px;
        font-weight: 700;
        cursor: pointer;
    }
    .buttonCard:hover {
        font-size: 40px;
        color: #FFD700;
    }
    .historiaAbertura{
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #febf45;
        margin-bottom: 10px;
    }
    .nomeFunder, .cargo  {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #febf45; 
    }
    .funderDescricao {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        margin-top: 10px;
        color: #ffffff;
    }
    .tituloHistoria {
        color: #febf45;
        font-family: "Montserrat", Sans-serif;
        font-size: 30px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.1em;

    }

}

.faq {
    background: #ffffff;
    padding: 80px 20px;
    text-align: center;
}

.faq h2 {
    font-size: 32px;
    color: #000;
    margin-bottom: 10px;
}

.faq p {
    color: #666;
    margin-bottom: 40px;
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.faq-question {
    width: 100%;
    background: none;
    border: none;
    padding: 15px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    transition: 0.3s;
}

.faq-question:hover {
    color: #D4AF37;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.faq-answer p {
    padding: 0 15px 15px;
    color: #333;
}

/* ativo */
.faq-item.active .faq-question {
    color: #D4AF37;
}

.faq-item.active .faq-answer {
    max-height: 200px;
}